requests
django ~= 3.0.14
requests_oauthlib
jinja2
humanize
# FIXME: Workaround until https://github.com/kraiz/django-crontab/pull/100 is merged
git+https://github.com/palfrey/django-crontab.git@exit-code-on-failure#egg=django-crontab

gunicorn
django-heroku

pip-tools
django-debug-toolbar