{% extends "layout.html" %}
{% block body %}
<h3>User repositories:</h3>
<a href="{{ url('organisation', kwargs={'org': user.username}) }}">{{ user }}</a><br />

<h3>Organisation repositories:</h3>
<ul>
{% for org in orgs %}
<li><a href="{{ url('organisation', kwargs={'org': org.login}) }}">{{ org.name }}</a></li>
{% endfor %}
</ul>

<h3>Slack instances:</h3>
{% if slacks %}
<ul>
    {% for slack in slacks %}
    <li><a href="{{slack.url}}">{{ slack.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
No Slack instances linked yet<br />
{% endif %}
<a href="{{ url('slack_login', kwargs={'redir': url('index')}) }}">Link to new Slack</a><br/>

{% if org_links %}
    <h3>Organisation links:</h3>
    <ul>
        {% for org_link in org_links %}
        <li><a href="{{url('slack_org_link_info', kwargs={'id':org_link.id})}}">{{org_link}}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if repo_links %}
    <h3>Repository links:</h3>
    <ul>
        {% for repo_link in repo_links %}
        <li><a href="{{url('slack_repo_link_info', kwargs={'id':repo_link.id})}}">{{repo_link}}</a></li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}