{% extends "layout.html" %}
{% block nav %}
  <form class="form-inline" method="POST" action="{{ url('organisation', kwargs={'org': organisation.login})}}" >
    {{ csrf_input }}
    <button class="btn btn-outline-success" type="submit">Update Repositories</button>
  </form>
{% endblock %}
{% block body %}
<h1><a href="https://github.com/{{ organisation.login }}">{{ organisation.login }} ({{organisation.name}})</a></h1>

<a href="{{ url('index') }}">Go back to list of organisations</a><br/>

{% if slack_links %}
<h2>Sending to:</h2>
<ul>
    {% for link in slack_links %}
        <li>
            {{ link.channel }} on {{ link.slack.name }}
            <a class="btn btn-danger" href="#" onclick="javascript:delete_link('{{ url('slack_repo_link_delete', args=[link.id])}}')">Delete link</a>
        </li>
    {% endfor %}
</ul>
{% endif %}
{% if slacks %}
<form method="POST" action="{{ url('slack_org_link', kwargs={'org': organisation.login})}}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <select name="slack">
        {% for slack in slacks %}
        <option value="{{slack.team_id}}">{{ slack.name }}</option>
        {% endfor %}
    </select><br />
    <input type="text" name="channel" placeholder="Write channel name or username" required /><br />
    <input type="submit" value="Link Slack instance" />
</form>
{% endif %}
<a href="{{ url('slack_login', kwargs={'redir': url('organisation', kwargs={'org': organisation.login})}) }}">Link to new Slack</a><br/>

<h2>Repositories (last update {{ organisation.last_updated() }}):</h2>
(Sorted by {{ sort_links | safe}})
<ul>
{% for repo in repos %}
<li><a href="{{ url('repository', kwargs={'org': organisation.login, 'repo': repo.name}) }}">{{ repo.name }}</a> ({{repo.vuln_info()}})</li>
{% endfor %}
</ul>

<a href="{{ url('index') }}">Go back to list of organisations</a>
{% endblock %}