<h1>{{ organisation.name }} - {{ repository.name }} </h1>

<a href="{{ url('organisation', kwargs={'org': organisation.login}) }}">Go back to list of repositories</a><br />

{% if vulns %}
<ul>
{% for vuln in vulns %}
<li>{{vuln.severity}}: {{ vuln.package }} versions '{{ vuln.vulnerableVersions }}' ('{{ vuln.requirements }}' required in {{ vuln.manifest_path}}) has <a href="{{ vuln.url }}">{{ vuln.description }}</a>
</li>
{% endfor %}
</ul>
{% else %}
No vulnerabilities known. They may be disabled for this repo. Please check the <a href="https://github.com/{{ organisation.login }}/{{ repository.name }}/settings">repository settings</a> under "Data services"
{% endif %}