<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
{{ csrf_input }}
<script>
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
function delete_link(url) {
    $.ajax({
        method: 'DELETE',
        url: url,
    }).done(function() {
        location.reload();
    });
}
</script>
<h1><a href="https://github.com/{{ organisation.login }}/{{ repository.name }}">{{ organisation.login }}/{{ repository.name }}</a></h1>

<a href="{{ url('organisation', kwargs={'org': organisation.login}) }}">Go back to list of repositories</a><br />

{% if slack_links %}
<h2>Sending to:</h2>
<ul>
    {% for link in slack_links %}
        <li>
            {{ link.channel }} on {{ link.slack.name }} <a href="#" onclick="javascript:delete_link('{{ url('slack_repo_link_delete', args=[link.id])}}')">Delete link</a>
        </li>
    {% endfor %}
</ul>
{% endif %}
{% if slacks %}
<form method="POST" action="{{ url('slack_repo_link', kwargs={'org': organisation.login, 'repo': repository.name})}}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <select name="slack">
        {% for slack in slacks %}
        <option value="{{slack.team_id}}">{{ slack.name }}</option>
        {% endfor %}
    </select><br />
    <input type="text" name="channel" placeholder="Write channel name or username" required /><br />
    <input type="submit" value="Link Slack instance" />
</form>
{% endif %}
<a href="{{ url('slack_login', kwargs={'redir': url('repository', kwargs={'org': organisation.login, 'repo': repository.name})}) }}">Link to new Slack</a><br/>

{% if vulns %}
<h2>Vulnerabilities:</h2>
<ul>
{% for vuln in vulns %}
<li>{{vuln.severity}}: {{ vuln.package }} versions '{{ vuln.vulnerableVersions }}' ('{{ vuln.requirements }}' required in {{ vuln.manifest_path}}) has <a href="{{ vuln.url }}">{{ vuln.description }}</a>
</li>
{% endfor %}
</ul>
{% else %}
No vulnerabilities known. They may be disabled for this repo. Please check the <a href="https://github.com/{{ organisation.login }}/{{ repository.name }}/settings">repository settings</a> under "Data services"
{% endif %}