{% extends "layout.html" %}
{% block nav %}
<li class="nav-item">
 <a class="nav-link active" href="{{ url('organisation', kwargs={'org': organisation.login}) }}">{{ organisation.login}}</a>
</li>
<form class="form-inline" method="POST" action="{{ url('repository', kwargs={'org': organisation.login, 'repo': repository.name})}}" >
    {{ csrf_input }}
    <button class="btn btn-outline-success" type="submit">Update Vulnerabilities</button>
</form>
{% endblock %}
{% block body %}
<h1><a href="https://github.com/{{ organisation.login }}/{{ repository.name }}">{{ organisation.login }}/{{ repository.name }}</a></h1>

<a href="{{ url('organisation', kwargs={'org': organisation.login}) }}">Go back to list of repositories</a><br />

{% if slack_links %}
<h2>Sending to:</h2>
<ul>
    {% for link in slack_links %}
        <li>
            <a href="{{url('slack_repo_link_info', kwargs={'id':link.id})}}">{{ link.channel }} on {{ link.slack.name }}</a> <a class="btn btn-danger" href="#" onclick="javascript:delete_link('{{ url('slack_repo_link_delete', args=[link.id])}}')">Delete link</a>
        </li>
    {% endfor %}
</ul>
{% endif %}
{% if slacks %}
<form method="POST" action="{{ url('slack_repo_link', kwargs={'org': organisation.login, 'repo': repository.name})}}">
    {{ csrf_input }}
    <select name="slack">
        {% for slack in slacks %}
        <option value="{{slack.team_id}}">{{ slack.name }}</option>
        {% endfor %}
    </select><br />
    <input type="text" name="channel" placeholder="Write channel name or username" required /><br />
    <input type="submit" value="Link Slack instance" />
</form>
{% endif %}
<a href="{{ url('slack_login', kwargs={'redir': url('repository', kwargs={'org': organisation.login, 'repo': repository.name})}) }}">Link to new Slack</a><br/>

{% if vulns %}
<h2>Vulnerabilities (last update {{ repository.last_update()}}):</h2>
<ul>
{% for vuln in vulns %}
<li>{{vuln.severity}}: {{ vuln.package }} versions '{{ vuln.vulnerableVersions }}' ('{{ vuln.requirements }}' required in {{ vuln.manifest_path}}) has <a href="{{ vuln.url }}">{{ vuln.description }}</a>
</li>
{% endfor %}
</ul>
{% else %}
No vulnerabilities known (last update {{ repository.last_update()}}). They may be disabled for this repo. Please check the <a href="https://github.com/{{ organisation.login }}/{{ repository.name }}/settings">repository settings</a> under "Data services"
{% endif %}

{% if old_vulns %}
<h2>Resolved Vulnerabilities:</h2>
<ul>
{% for vuln in old_vulns %}
<li>{{vuln.severity}}: {{ vuln.package }} versions '{{ vuln.vulnerableVersions }}' ('{{ vuln.requirements }}' required in {{ vuln.manifest_path}}) has <a href="{{ vuln.url }}">{{ vuln.description }}</a>
</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}